*{

}

header{
    display: flex;
    justify-content: left;
    margin:100px;
}

.logo{
    display: flex;
    justify-content: left;

    margin: 100px 100px;
    height: 300px;
    width: 400px;
}


input{
    
}