*{

}

header{
    display: flex;
    justify-content: left;
    margin:100px;
}

.logo{
    display: flex;
    justify-content: left;

    margin: 100px 100px;
    height: 300px;
    width: 400px;
}


input{
    
}


body{
    background: grey;
}







/*
/*OpenWeather Item*/
#weatherBug{
    border: 6px solid navy;
    border-radius: 1em;
    background-color: grey;
    width: 14em;
    padding: 1em;
    color: white;
    font-family: sans-serif;
}


/* Set the size of the div element that contains the map */
#map{
    height: 400px;
    /* The height is 400 pixels */
    width: 75%;
    /* The width is the width of the web page */
  }